<% if user_signed_in? %>

<h1>Friends</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
      <tr>
        <td>
        <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
        </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
      </tr>
    <% end %>  
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>

<% else %>

<h1>Hello World</h1>
<p>This is my first Rails webpage. You can perform <b>CRUD</b> operations on your friends. 
You can <b>Create Profiles</b>, <b>Sign In</b> and <b>Sign Out</b>.</p>

<p>It was developed using:</p>
<ul>
<li>Rails 6.1.4.1</li>
<li>Ruby 3.0.2p107 (2021-07-07 revision 0db68f0233) [x64-mingw32]</li>
<li>Yarn 1.22.11</li>
<li>Node v12.18.3</li>
<li>Npm 6.14.6</li>
</ul>

<br><br>
This web application was developed following the video tutorials from:
<br>
User: https://github.com/flatplanet
<br>
Tutorials: https://www.youtube.com/playlist?list=PLCC34OHNcOtrk3BDsfZwf4GattdLoKCOF
<% end %>